<!DOCTYPE html>
<html lang="en">
<head>
<title>兴铭皓钢铁有限公司</title>
<link rel="icon" href="{{ url_for('static', filename='images/iron.ico') }}" type="image/x-icon"/>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/chocolat.css') }}" type="text/css" media="screen">
<link href="{{ url_for('static', filename='css/easy-responsive-tabs.css') }}" rel='stylesheet' type='text/css'/>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
<!--fonts-->
<link href="{{ url_for('static', filename='css/italic.css') }}" rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename='css/family.css') }}" rel="stylesheet">

</head>
<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="w3l_header_left">
				<ul>
					<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>武汉市江夏区大桥新区何家湖中信联工业园11-13号</li>
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 13871230677</li>
					<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:info@example.com">leecqchn@163.com</a></li>
				</ul>
			</div>
			<div class="w3l_header_right">
				<div class="w3ls-social-icons text-left">
					<a class="facebook" href="#"><i class="fa fa-qq"></i></a>
					<a class="twitter" href="#"><i class="fa fa-wechat"></i></a>
					<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
					<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	
<!-- //header -->
<!--Slider-->
<div class="slider">
<div class="header-bottom">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="logo">
						<h1><a class="navbar-brand" href="index.html"><span>兴铭皓</span>钢铁有限公司</a></h1>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-1" id="cl-effect-1">
						<ul class="nav navbar-nav">
							<li><a href="#home" class="active" data-hover="Home">主页</a></li>
							<li><a href="#about" class="scroll" data-hover="About">关于</a></li>
							<li><a href="#services" class="scroll" data-hover="Services">服务</a></li>
							<li><a href="#gallery" class="scroll" data-hover="Projects">画廊</a></li>
							<li><a href="#contact" class="scroll" data-hover="Contact">联系我们</a></li>
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
			<div class="w3ls_search">
				<div class="cd-main-header">
					<ul class="cd-header-buttons">
						<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
					</ul> <!-- cd-header-buttons -->
				</div>
				<div id="cd-search" class="cd-search">
					<form action="#" method="post">
						<input name="Search" type="search" placeholder="Search...">
					</form>
				</div>
			</div>
		</div>
	</div>
			<div class="callbacks_container">
			<ul class="rslides" id="slider3">
						<li>
						
							<div class="slider-info">
								<h3>建材 & 供应商</h3>
								<p>提供销售一流的建筑管材，做一流的机械加工</p>
								<div class="readmore-w3"><a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More</a></div>
							</div>
						</li>
						<li>
							<div class="slider-info">
							<h3>公司文化</h3>
							<p>兴铭皓钢铁有限公司秉承着客户至上、诚信销售的理念</p>
							<div class="readmore-w3"><a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More</a></div>
						</div>
						</li>
						<li>
						<div class="slider-info">
							<h3>建材 & 供应商</h3>
						    <p>提供销售一流的建筑管材，做一流的机械加工</p>
							<div class="readmore-w3"><a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More</a></div>
						</div>
						</li>
						<li>
							<div class="slider-info">
							<h3>公司文化</h3>
							<p>兴铭皓钢铁有限公司秉承着客户至上、诚信销售的理念</p>
							<div class="readmore-w3"><a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Read More</a></div>
						</div>
						</li>

					</ul>
				
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
						<!-- Modal1 -->
							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4>In Harvest</h4>
										<img src="{{ url_for('static', filename='images/banner1.jpg') }}" alt=" " class="img-responsive">
										<h5>建材 & 供应商</h5>
										<p>提供销售一流的建筑管材，做一流的机械加工.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- //Modal1 -->
		<!--//Slider-->
<!--//Header-->

<!-- about -->
	<div class="about" id="about">
		<div class="container">
		<h3 class="tittle">关于我们</h3>
		<p class="heading-btm-w3ls">兴铭皓钢铁有限公司是一家建筑管材销售批发商，主要经营大棚管和镀锌钢管的销售以及机械加工。</p>
			<div id="horizontalTab">
				<ul class="resp-tabs-list">
					<li>我们的客户</li>
					<li>历史</li>
					<li>关于我们</li>
				</ul>
				<div class="resp-tabs-container">
					<div class="tab1">
						<div class="clients">
							<ul>
								<li><img src="{{ url_for('static', filename='images/c3.png') }}" alt="clients" class="img-responsive" /><span>机械加工者</span></li>
								<li><img src="{{ url_for('static', filename='images/c1.png') }}" alt="clients" class="img-responsive" /><span>农民(大棚蔬菜种植)</span></li>
								<li><img src="{{ url_for('static', filename='images/c2.png') }}" alt="clients" class="img-responsive" /><span>建筑承包商</span></li>

							</ul>
						</div>
					</div>
					<div class="tab2">
						<p class="para-w3-agileits">兴铭皓钢铁有限公司于2017年在武汉正式注册成立，是一家年轻的企业。孔子曰：“工欲善其事，必先利其器”。我们愿意提供给您最好的建筑材料，做您坚固的基石</p>
					</div>
					<div class="tab3">
						<p class="para-w3-agileits">兴铭皓钢铁有限公司于2017年在武汉正式注册成立，是一家年轻的企业。</p>
					</div>

				</div>
			</div>			
			   </div>
		</div>
<!-- //about-bottom -->
<!--sevices-->
	<div class="services" id="services">
		<div class="container">
			<h3 class="tittle">服务</h3>
			<p class="heading-btm-w3ls">客户至上，诚信第一，我们提供高质量的服务</p>
			<div class="wthree_team_grids">
				<div class="col-md-3 wthree_team_grid">
					<div class="hovereffect">
						<img src="{{ url_for('static', filename='images/t1.jpg') }}" alt=" " class="img-responsive" />
						<div class="overlay">
							<h6>大棚管</h6>
							<div class="rotate">
								<p class="group1">
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</p>
									<hr>
									<hr>
								<p class="group2">
									<a href="#">
										<i class="fa fa-instagram"></i>
									</a>
									<a href="#">
										<i class="fa fa-dribbble"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
					<h4>大棚管</h4>
					<p>Field Worker</p>
				</div>
				<div class="col-md-3 wthree_team_grid">
					<div class="hovereffect">
						<img src="{{ url_for('static', filename='images/t2.jpg') }}" alt=" " class="img-responsive" />
						<div class="overlay">
							<h6>镀锌管</h6>
							<div class="rotate">
								<p class="group1">
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</p>
									<hr>
									<hr>
								<p class="group2">
									<a href="#">
										<i class="fa fa-instagram"></i>
									</a>
									<a href="#">
										<i class="fa fa-dribbble"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
					<h4>镀锌管</h4>
					<p>Field Worker</p>
				</div>
				<div class="col-md-3 wthree_team_grid">
					<div class="hovereffect">
						<img src="{{ url_for('static', filename='images/t3.jpg') }}" alt=" " class="img-responsive" />
						<div class="overlay">
							<h6>槽钢</h6>
							<div class="rotate">
								<p class="group1">
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</p>
									<hr>
									<hr>
								<p class="group2">
									<a href="#">
										<i class="fa fa-instagram"></i>
									</a>
									<a href="#">
										<i class="fa fa-dribbble"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
					<h4>槽钢</h4>
					<p>Field Worker</p>
				</div>
				<div class="col-md-3 wthree_team_grid">
					<div class="hovereffect">
						<img src="{{ url_for('static', filename='images/t4.jpg') }}" alt=" " class="img-responsive" />
						<div class="overlay">
							<h6>机械加工切割</h6>
							<div class="rotate">
								<p class="group1">
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</p>
									<hr>
									<hr>
								<p class="group2">
									<a href="#">
										<i class="fa fa-instagram"></i>
									</a>
									<a href="#">
										<i class="fa fa-dribbble"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
					<h4>管材机械加工切割</h4>
					<p>Field Worker</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!--//sevices-->
 <!--/gallery-->
 <div class="gallery" id="gallery">
	<div class="container">
	<h3 class="tittle">我们的画廊</h3>
	<p class="heading-btm-w3ls">Suspendisse fringilla pellentesque risus sit amet bibendum.</p>
		<div class="agile_gallery_grids w3-agile">
				<ul class="clearfix demo">
					<li>
						<div class="gallery-grid1">
							<img src="{{ url_for('static', filename='images/g1.jpg') }}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>In <span>Harvest</span></h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{{ url_for('static', filename='images/g2.jpg') }}" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>In <span>Harvest</span></h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{{ url_for('static', filename='images/g3.jpg') }}" alt=" " class="img-responsive" />
							<div class="p-mask">
							<h4>In <span>Harvest</span></h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{{ url_for('static', filename='images/g4.jpg') }}" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>In <span>Harvest</span></h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{{ url_for('static', filename='images/g5.jpg') }}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>In <span>Harvest</span></h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{{ url_for('static', filename='images/g6.jpg') }}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>In <span>Harvest</span></h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{{ url_for('static', filename='images/g7.jpg') }}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>In <span>Harvest</span></h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{{ url_for('static', filename='images/g8.jpg') }}" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>In <span>Harvest</span></h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{{ url_for('static', filename='images/g9.jpg') }}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>In <span>Harvest</span></h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{{ url_for('static', filename='images/g10.jpg') }}" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>In <span>Harvest</span></h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{{ url_for('static', filename='images/g11.jpg') }}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>In <span>Harvest</span></h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{{ url_for('static', filename='images/g12.jpg') }}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>In <span>Harvest</span></h4>
								<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
	</div>
</div>
<!--//gallery-->
<!--footer-->
<div class="contact-agile" id="contact">
			<div class="container">
				<h3 class="tittle">联系我们</h3>
		<p class="heading-btm-w3ls">若您需要我们的服务，请与我们反馈，我们将第一时间给您答复</p>
				<div class="col-md-3 contact-left">
					<h4>公司 地址</h4>
					<p>武汉市江夏区大桥新区何家湖中信联工业园11-13号,</p>
					<p>湖北省,</p>
					<p>DC 20037, 中国</p>
					<h4>电话</h4>
					<p>13871230677</p>

				</div>
				<div class="col-md-9 contact-middle">
					<h2>欢迎您的反馈</h2>
					<form action="#" method="post">
					<div class="form-agileinfo">
						<p>用户名</p>
						<input type="text" name="your name" placeholder="您的用户名" required="" />
						<p>邮箱</p>
						<input type="email" name="your email" placeholder="您的邮箱" required="" />
					</div>
					<div class="form-agileits-w3layouts">
					<p>您的反馈</p>
						<textarea  name="your message" placeholder="您的反馈" required ></textarea>
							<input type="submit"   value="发送">
					</div>
					<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
		<!---<div class="map-w3ls">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6209.852593501853!2d-77.0416869731965!3d38.902800718279195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xae69b9ad9dbd5ebf!2sRenaissance+Washington%2C+DC+Dupont+Circle+Hotel!5e0!3m2!1sen!2sin!4v1479208161830"></iframe>
		</div>--->
			    <div class="bottom-social-w3ls w3ls-social-icons">
					<a class="facebook" href="#"><i class="fa fa-qq"></i></a>
					<a class="twitter" href="#"><i class="fa fa-wechat"></i></a>
					<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
					<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
				</div>
			<div class="copy">
		        <p>Copyright &copy; 2017.Xinminhao Iron Company, All rights reserved.</p>
		    </div>
<!--/footer -->

<!-- js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}" ></script>
<!--gallery-js -->
<script src="{{ url_for('static', filename='js/jquery.picEyes.js') }}" ></script>
				<script>
					$(function(){
						//picturesEyes($('.demo li'));
						$('.demo li').picEyes();
					});
				</script>
<!--//gallery-js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}" ></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!--light-box-files -->
<script src="{{ url_for('static', filename='js/jquery.chocolat.js') }}" ></script>
<!--//light-box-files -->
		<script type="text/javascript">
		$(function() {
			$('.gallery a').Chocolat();
		});
		</script>
<!-- //js -->
<script src="{{ url_for('static', filename='js/responsiveslides.min.js') }}" ></script>
							<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 3
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:true,
									nav:true,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });
							
								});
							 </script>

		
		<!--search-bar-->
		<script src="{{ url_for('static', filename='js/main.js') }}" ></script>	
<!--//search-bar-->
<!--tabs-->
<script src="{{ url_for('static', filename='js/easy-responsive-tabs.js') }}"></script>
<script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion           
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>
<!--//tabs-->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	
	
	<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-3.1.1.min.js') }}"></script>

</body>
</html>
